.card-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.card-stats {
    display: none;
}

.loading > .card-container::before {
    content: 'Loading...';
}

.loading > .card-container > * {
    display: none!important;
}

.back-top {
    text-align: center;
}